@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('fonts/instagram-icons/style.css');

:root {
	/* Color */
	--gradient: linear-gradient(
		-75deg,
		rgba(64, 93, 230, 1),
		rgba(131, 58, 180, 1),
		rgba(193, 53, 132, 1),
		rgba(225, 48, 108, 1),
		rgba(253, 29, 29, 1));

	--accent: #0B6AF9;
	--background: #0B0E27;
	--deault: #A4A4A4;
	--primary: #fff;
	
	--info-background: rgba(255, 255, 255, 0.1);
	--search-background: rgba(150, 150, 255, 0.25);
	--menu_background: rgba(150, 150, 255, 0.1);

}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	font-family: 'Sarala', sans-serif;
	min-height: 100vh;
	background-color: var(--background);
	color: var(--primary);
}

/* Gradient */
.gradient {
	position: relative;
	margin: 10px;
	width: 250px;
	height: 250px;
	border-radius: 500px;
	background-color: var(--background);
}

.gradient > img { 
	border-radius: 500px;
}

.gradient::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 50%;
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	z-index: -1;
	background: var(--gradient);
}

/* Layout */
.header {
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 35px;
}
.content {
	display: flex;
}

.main {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-content: flex-start;
	padding-right: 55px;
}

/* Header */
.logo {
	cursor: pointer;
}
.search {
	display: flex;
	align-items: center;
	max-width: 300px;
	width: 100%;
	padding: 4px 16px;
	background-color: var(--search-background);
	border-radius: 5px;
}

.search input {
	margin-left: 50px;
	padding: 8px 0;
	flex-grow: 1;
	border: none;
	background-color: transparent;
	color: var(--primary);
	font-size: 20px;
}

.search input:focus {
	outline: none;
}

.search i {
	font-size: 25px;
}

.actions {
	display: flex;
	align-items: center;
}
.actions__item {
	font-size: 25px;
	cursor: pointer;
}

.actions__item:not(:last-child) {
	margin-right: 22px;
}

.new-post-button {
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 3px 9px;
	background: var(--gradient);
}

.new-post-button i {
	font-size: 12px;
	display: inline-block;
	margin-right: 22px;
	padding: 9px;
	border: 1.5px solid var(--primary);
	border-radius: 50%;
}

.new-post-button span {
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;
}

/* Sidebar */
.sidebar {
	position: relative;
	margin-right: 20px;
	max-width: 450px;
}

.sidebar .user {
	margin-bottom: 110px;
}

.sidebar__fixed {
	position: sticky;
	top: 0;
}

.user {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
	cursor: pointer;
}

.user_small .user__avatar {
	display: block;
	width: 130px;
	margin-right: auto;
	height: 130px;
	border: 1px solid var(--background);
}

.user__avatar {
	width: 240px;
	height: 240px;
	display: block;
	border: 2px solid var(--background);
}

.user__avatar > img {
	width: 100%;
}

.user__name {
	font-size: 35px;
	font-weight: 700;
}

.user_small .user__nickname  {
	font-size: 15px;
	margin-bottom: 0;
}

.user__name i {
	margin-left: 7px;
	font-size: 0.8em;
	color: var(--accent);
}

.user__nickname {
	margin-bottom: 20px;
	font-size: 20px;
	color: var(--deault);
}
.user__stat {
	display: flex;
	justify-content: space-between;
}
.user__stat-item {
	display: flex;
	align-items: center;
	margin: 0 22px;
	padding: 12px 18px;
	border-radius: 10px;
	font-size: 20px;
	background-color: var(--info-background);
}

.user__stat-item i {
	margin-right: 15px;
	font-size: 1.3em;
}
.user__row {
	flex-direction: row;
	cursor: pointer;
}

.user__row .user__avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
}
.user__row .user__nickname {
	margin: 0px 0px 0px 6px;
	font-size: 15px;
}

/* Menu */
.menu__item {
	display: flex;
	align-items: center;
	padding: 10px 30px;
	font-size: 20px;
	border-radius: 10px;
	color: var(--primary);
}

.menu__item:not(:last-child) {
	margin-top: 20px;
}

.menu__item i {
	margin-right: 78px;
	font-size: 1.3em;
}

.menu__item_active,
.menu__item:hover {
	position: relative;
	background-color: var(--menu_background);
}

.menu__item_active::after,
.menu__item:hover::after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	width: 12px;
	border-radius: 10px;
	background: var(--gradient);
}

/* Stories */
.stories {
	margin-bottom: 35px;
	flex-grow: 1;
}

.stories__slider {
	display: flex;
	align-items: center;
}

.stories__slider-content {
	display: flex;
}

.stories__slider-item:not(:last-child) {
	margin-right: 30px;
}

.stories__slider-next {
	font-size: 20px;
	margin-left: 17px;
	padding: 5px 15px;
	cursor: pointer;
}

/* Elements */
.title {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

/* Posts */
.posts {
	display: flex;
	flex-wrap: wrap;
	margin: -22px;
	margin-top: 0;
}

.posts .post {
	margin: 22px;
}

.posts > div {
	width: 350px;
	margin: -22px 5px 0;
}

.posts .post {
	width: 100%;
}

.posts .post__img {
	width: 100% !important;
}

.post__img {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	width: 350px;
	height: 570px;
}

.post__img img {
	position: absolute;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.post__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.post__actions {
	display: flex;
	align-items: center;
}
.post__action {
	font-size: 20px;
	cursor: pointer;
}
.post__action:not(:last-child) {
	margin-right: 14px;
}

.post_horizontal .post__img {
	width: 480px;
	height: 320px;
}
.post_horizontal .post__img img {
	width: 100%;
	height: initial;
}

.insta_like_fill:not(:first-child) {
	color: #fff;
}

/* Modal window */

/* All root elements but not last ones */
.modal > :not(:last-child) {
	margin-bottom: 10px;
}

.modal > * {
	box-sizing: border-box;
}

.modal__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
	display: none;
}

.modal > label {
	display: block;
	text-align: left;
	margin-bottom: 0 !important;
}

.modal {
	padding: 30px;
	width: 60vw;
	min-width: 300px;
	height: min-content;
	border-radius: 20px;
	text-align: center;
	color: #000;
	background-color: #fff;
}

.modal__text {
	padding: 10px;
	width: 100%;
	min-height: 400px;
}

.modal > input {
	padding: 0 10px;
	width: 100%;
	height: 30px;
}

.modal__btn {
	margin-top: 10px;
	padding: 5px 15px;
	border-radius: 5px;
	border-color: var(--accent);
	cursor: pointer;
	color: #fff;
	background-color: var(--accent);
}

h1 {
	text-align: center;
}

.modal__error {
	border: 1px solid red;
}